.slideshow_display{
    margin: 0;
    position: relative;
}

.slideshow_container{
    display: flex;
    flex-direction: column;
    height:415px;
    position:relative;
}

.slideshow_photos {
    height: 100%;
    width: 100%;
}

.slideshow_photos img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    cursor: pointer;
}

.right_fleche img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 46px;
    height: 79px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    margin-right:10px;
    cursor: pointer;
}

.left_fleche img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width : 46px;
    height: 79px;
    margin-left: 10px;
    cursor: pointer;
}

.index_photos{
    position: absolute;
    color:white;
    font-size:18px;
    bottom: 20px;
    left:50%;
}


 /* Media queries */

 @media screen and (max-width:578px) {
    .left_fleche img{
         width: 30px;
         height: 30px;    
    }
    .right_fleche img{
        width: 30px;
        height: 30px;
    }
    .slideshow_container{
        height: 270px;
        width: 335px;
        object-fit: cover;
    }
   }
   
      
