.logement_container{
    margin: 27px 0 15px 0;
    color: #FF6060;
}

.slideshow_display{
    margin: 27px 0 15px 0;
}

.logement_details{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: #FF6060;
}

.logement_title h1{
    font-weight: 500;
    font-size: 36px;   
    font-style: normal;
    margin-bottom: 7px;
}

.logement_title h2{
    font-weight: 500;
    font-style: normal;
    font-size : 18px;
    
}

/* Host */

.logement_host_container{
    margin: 6px 0 16px 0;
    
}

.logement_host{
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.logement_host span{
    font-weight: 500 ;
    font-size: 18px;
    width: 80px;
    height: 33px;
}

.logement_host img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

/* Collapse */

.logement_collapse{
    display:flex;
    justify-content: space-between;
    border-radius:10px;     
}

.logement_description{
    margin-bottom: 20px;
    width: 582px;
    Height: 249px;

}

.logement_equipment{
    width: 582px;
    Height: 249px;
}

 .logement_equipment ul {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
   
 }


/* Rate */

.stars{
    display: flex;
    justify-content: flex-end ;
}
.fa-solid.fa-star{
    color: #FF6060;
    font-size: 30px;
}

.fa-solid.fa-star.grey{
    color:#E3E3E3;
}