.stars{
    display: flex;
    justify-content: flex-end ;
}

.fa-solid.fa-star{
    color: #FF6060;
    font-size:22px;
    font-weight: 900;
}


.fa-solid.fa-star.grey{
    color:#E3E3E3;
    font-weight: 900;
}

/* Media queries */

@media screen and(max-width:578px) {
    .stars{
        justify-content: start;
        margin-bottom: 20px;
        }
}