* {
    font-family: "Montserrat";
    box-sizing: border-box;
}

.mainContener {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    width:100%
}

