* {
    font-family: "Montserrat";
    box-sizing: border-box;
}

#root{
    height: 100%;
}

html {
    height:100%;
}

body{
    height:100%;
}

.mainContener {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    justify-content: space-between;
}

.body {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    width:100%;
    padding:0 20px;
}

