.banner_container {
    height : 225px;
    width : 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom:20px;
  }
  
  .backgroundImage {
    position : absolute;
    object-fit: cover;
    width : 100%;
    height : 100%;
    z-index: -1;
    border-radius: 25px;
  }
  
  .filter {
   position: absolute;
   width : 100%;
   height : 100%;
   border-radius:25px;
  }
 
.banner_text {
  width : 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left : 16px;
  }

  .banner_text p{
    color: #FFFFFF;
    font-family: "montserrat";
    z-index: 10;
    margin: 0 0.2rem;
    margin-top: 80px;
    font-weight: 500;
    font-size: 48px;
  }


/* Media queries */

@media screen and (max-width:900px) {
  .banner_container {
     height: 150px;
  }   
}

@media screen and (max-width:900px) {
.banner_text{
  flex-direction:row;
  justify-content: start;
  margin:auto
}
.banner_text p{
font-size: 24px;
}
}

